.topbar {
  padding: 1rem;
  display: flex;
  position: fixed;
  width: 98.5%;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 768px) {
    height: 50px;
    width: 95%;
    align-items: center;
  }
  .left {
    display: flex;
    gap: 4rem;

    .header_text {
      font-size: 1.7rem;
      font-weight: 900;
      color: #1860ec;
    }
    .search {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: #647787;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      input {
        border: none;
        padding: 0.8rem;
        outline: none;

        &::placeholder {
          color: #647787;
          font-size: 0.9rem;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    color: #647787;

    span {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .notification {
      position: relative;
      font-size: 1.4rem;

      span {
        position: absolute;
        font-size: 0.6rem;
        background-color: #1860ec;
        padding: 0.2rem 0.4rem;
        border-radius: 50%;
        color: #fff;
        top: -5px;
        right: -6px;
      }
    }

    .profile {
      display: flex;
      gap: 0.5rem;
      .profile_name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .hello {
          font-size: 0.8rem;
          color: #777;
        }
      }

      .profile_img {
        width: 40px;
        height: 40px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}
