.sidebar {
  width: 300px;
  background: #fff;
  padding: 1.5rem;
  height: 100vh;
  display: flex;

  flex-direction: column;
  .generate {
    background-color: #27ae60;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

  .sidebar_links {
    color: #647787;
    margin-top: 1rem;

    .links_item {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .side_link {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        color: #647787;
        font-weight: 500;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
