.sidebar {
  width: 300px;
  background: #fff;

  height: 100%;
  display: flex;
  position: fixed;
  top: 6%;
  padding: 1rem;
  z-index: 10;

  flex-direction: column;

  @media only screen and (max-width: 768px) {
    top: 7%;
  }
  .generate {
    background-color: #27ae60;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

  .sidebar_links {
    color: #647787;
    margin-top: 1rem;

    .links_item {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .side_link {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        color: #647787;
        font-weight: 500;

        img {
          width: 20px;
          height: 20px;
        }
      }
      .active_link {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        border-left: 2px solid #1875f0;
        background-color: #1876f013;
        color: #647787;
        font-weight: 500;
        padding: 1rem;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
