::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.app {
  width: 100%;
  background-color: #f7f7f7;
  .container {
    display: flex;

    .main {
      margin-top: 4%;
      margin-left: 18%;

      width: 100%;
      padding: 1rem;
    }
  }
}
